.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas: ". title navigation";
}

.header h1 {
  grid-area: title;
}

.header nav {
  grid-area: navigation;
}

.header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: right;

  height: 100%;
}

.header nav li {
  height: 100%;
}

.header nav a {
  display: flex;

  height: 100%;
  align-items: center;
  padding: 0 1em;
}

.header nav form {
  height: 100%;
}

.header nav form button {
  padding: 0 1em;
  height: 100%;
}
