version: "3.8"
services:
  web:
    build: .
    ports:
      - "3001:3000"
    depends_on:
      - database
    environment:
      - PORT=3000
      - DATABASE_URL=postgresql://jens:hotchoc@database:5432/fuel
      - SESSION_SECRET=abc

  database:
    image: postgres:latest
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=jens
      - POSTGRES_PASSWORD=hotchoc
      - POSTGRES_DB=fuel
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
