name: deploy

on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./package.json

      - name: Install dependencies
        run: npm install

      - name: Check formatting
        run: npm run format:check

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./package.json

      - name: Install dependencies
        run: npm install

      - name: Run linter
        run: npm run lint:check

  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./package.json

      - name: Install dependencies
        run: npm install

      - name: Run typechecker
        run: npm run typecheck

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: ./package.json

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

  deploy:
    runs-on: ubuntu-latest
    needs: [formatting, lint, typecheck, test]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Deploy application
        uses: dokku/github-action@v1.4.0
        with:
          git_remote_url: "ssh://dokku@${{ secrets.SSH_HOST }}:22/fuel"
          branch: main
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
