on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Check out repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Deploy application
        uses: dokku/github-action@v1.4.0
        with:
          git_remote_url: "ssh://dokku@ssh.jensmeindertsma.com:22/fuel"
          branch: main
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }}
